.wrapper {

}

.header {

}

.content {

}

.content {

}

.content__btn {
    background: #CA6F1E;
    width: fit-content;
    border-radius: 15px;
}

.btn__text {
    padding: 15px;
    cursor: pointer;
}

.sort__btns{
    display: flex;
    
}

.sortbtn {
    padding: 10px;;
    margin: 5px;
    font-size: 16pt;
    color: black;
    cursor: pointer
}