.episode__wrapper {
    border: 1px solid;
    border-radius: 10px;
    background: #99A3A4;
    color: #1C2833;
    padding: 0 10px
}

.episode__header {
    /* font-size: 18pt; */
}

.episode__content {
    display: flex;
    justify-content: space-between;
}

.content__characters {
    display: flex;
    align-items: baseline;
}

.characters__btn {
    margin: 0 10px;
    background: #2E86C1;
    color: #becdcf;
    /* padding: 0 10px; */
    width: 30px;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    border-radius: 10px;


}

.characters__count {}

.charactres__label {}

.content__removebtn {
    cursor: pointer;
}