.app {
  background: repeat url("./assets/images/walls.jpg");
  min-height: 100vh;
  background-size: 100%;
  font-size: 24pt;
 
  
 
}

.app__opacity {
  background: rgba(16, 20, 0, 0.6);
  color: #faebd7;
  min-height: 100vh;
 
  display: flex;
  justify-content: center;
}
